*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
.reveiwsDiv{
    background-color: #5B20D4;
    width: 120px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    top: 110px;
    left: -38px;
    position: fixed;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}
.reveiwsTxt{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 5px;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
   
}
.reveiwsTxt .star{
    max-width: 16px;
}
.close{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    line-height: 50px;
   padding-top: 5px;
    background-color: #5B20D4;
    margin-left: 15px;
    cursor: pointer;
}
.closeImg{
    width: 20px;
    line-height: 50px;
}
.commentBox{
    width: 700px;
    background-color: #5B20D4;
    height: 270px;
    margin-left: 30px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    overflow: scroll;
    overflow-x: hidden;
}
.activeUsers .acUserImg{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: -10px;
}
.commentBox{
    padding: 20px;
}
.activeUsers{
    padding-left: 15px;
}
.remainingUser{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}
.usersAndRemainingUser{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.allComments .singleComment{
    border-radius: 15px;
    padding: 10px 15px;
    width: 100%;
    background-color: #fff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-bottom: 15px;
}
.allComments{
    padding-top: 15px;
}
.commentAuthor{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.commentTxtOne p{
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
}
.commentTxtOne{
    padding-top: 8px;
}
.userAndInfo{
    display: flex;
}
.recomended{
    font-size: 16px;
}
.time{
    font-size: 14px;
    color: gray;
}
.commentController{
    display: flex;
    justify-content: space-between;
}
.description{
    font-size: 16px;
    padding-top: 10px;
    padding-left: 20px;
}
.moreLink{
    color: #5B20D4;
}
.moreLinkCtrl{
    text-decoration: none;
    color: #5B20D4;
}

.closeBtnAndReviews{
    display: flex;
}
.commentPanelPositionCtrl{
    position: fixed;
    top: 310px;
}

/* width */
.commentBox::-webkit-scrollbar {
    width: 10px;
    padding: 10px;
  }
  
  /* Track */
  .commentBox::-webkit-scrollbar-track {
    background: #ffffff; 
  }
   
  /* Handle */
  .commentBox::-webkit-scrollbar-thumb {
    background: rgba(211, 207, 207, 0.644); 
  }
  
  /* Handle on hover */
  .commentBox::-webkit-scrollbar-thumb:hover {
    background: rgba(211, 207, 207, 0.924);
  }