*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.reveiwsDiv{
    background-color: #5B20D4;
    width: 120px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    /*height: 60px;
    *//*width: 100%;
    */top: 110px;
    left: -38px;
    position: fixed;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}
.reveiwsTxt{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 5px;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
    /* top: 10%; */
   
}
.reveiwsTxt .star{
    max-width: 16px;
}
.close{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    line-height: 50px;
   padding-top: 5px;
    background-color: #5B20D4;
}
.closeImg{
    width: 20px;
    line-height: 50px;
}
.commentBox{
    width: 700px;
    background-color: #5B20D4;
    height: 300px;
    margin-left: 150px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.activeUsers .acUserImg{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: -10px;
}
.commentBox{
    padding: 20px;
}
.activeUsers{
    padding-left: 15px;
}
.remainingUser{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}
.usersAndRemainingUser{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.allComments .singleComment{
    border-radius: 15px;
    padding: 10px;
    width: 100%;
    background-color: #fff;
    height: 150px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.commentAuthor{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.commentTxtOne p{
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
}
.commentTxtOne{
    padding-top: 8px;
}
.userAndInfo{
    display: flex;
}

.recomended{
    font-size: 16px;
}
.time{
    font-size: 14px;
    color: gray;
}
.singleComment{
    display: flex;
    justify-content: space-between;
}